.tournament__photo {
    margin-left: -65px;
    width: 220px;
    align-self: flex-start;
    transition: 1s;
    border-radius: 20px;
}

.tournament__photo:hover {
    transform: scale(1.2);
}

.tournament__photo:first-child {
    margin-left: 50px;
}