.page {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1024px;
    font-family: "TC", Arial, Helvetica, sans-serif;
    background-color: black;
    color: rgb(255, 255, 255);
    overflow: hidden;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (max-width: 1024px) {
    .page {
        max-width: 590px;
    }
}

@media screen and (max-width: 720px) {
    .page {
        max-width: 320px;
    }
}