.zal__standart_li_text {
    color: rgb(216, 216, 90);
    border-color: rgb(216, 216, 90);
    margin: auto;
    outline: none;
    /* Для синий ободки */
    border: 0;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
    text-shadow:
        0 0 7px yellow,
        0 0 151px yellow;
}