.text_btn {
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 110%;
    animation: pulsate 1s ease-in-out infinite alternate;
}

@keyframes pulsate {
    100% {
        /* Larger blur radius */
        text-shadow:
            0 0 4px #dc0ae4,
            0 0 11px #dc0ae4,
            0 0 19px #dc0ae4,
            0 0 40px #f09,
            0 0 80px #f09,
            0 0 90px #f09,
            0 0 100px #f09,
            0 0 150px #f09;
    }

    0% {
        /* A slightly smaller blur radius */
        text-shadow:
            0 0 4px #dc0ae4,
            0 0 10px #dc0ae4,
            0 0 18px #dc0ae4,
            0 0 38px #f09,
            0 0 73px #f09,
            0 0 80px #f09,
            0 0 94px #f09,
            0 0 140px #f09;
    }
}