.about__block {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
}

@media screen and (max-width: 620px) {
    .about__block {
        max-width: 100%;
        justify-content: center;
    }

}