.header__bar_link_zal {
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
    text-decoration: none;
    font-size: 22px;
}

.header__bar_link_std {
    margin-top: 10px;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    color: yellow;
    text-shadow:
        0 0 7px yellow,
        0 0 10px yellow,
        0 0 82px yellow,
        0 0 102px yellow,
        0 0 151px yellow;
}

.header__bar_link_kom {
    margin-top: 10px;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    color: blue;
    text-shadow:
        0 0 7px blue,
        0 0 10px blue,

        0 0 82px blue,
        0 0 102px blue,
        0 0 151px blue;
}

.header__bar_link_komplus {
    margin-top: 10px;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    color: rgb(237, 63, 253);
    text-shadow:
        0 0 7px rgb(237, 63, 253),
        0 0 10px rgb(237, 63, 253),

        0 0 82px rgb(237, 63, 253),
        0 0 102px rgb(237, 63, 253),
        0 0 151px rgb(237, 63, 253);
}

.header__bar_link_vip {
    margin-top: 10px;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    color: rgb(180, 0, 99);
    text-shadow:
        0 0 7px rgb(180, 0, 99),
        0 0 10px rgb(180, 0, 99),

        0 0 82px rgb(180, 0, 99),
        0 0 102px rgb(180, 0, 99),
        0 0 151px rgb(180, 0, 99);
}

.header__bar_link_zal {
    margin-top: 10px;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    color: rgb(73, 213, 255);
    text-shadow:
        0 0 7px rgb(73, 213, 255),
        0 0 10px rgb(73, 213, 255),
        0 0 82px rgb(73, 213, 255),
        0 0 102px rgb(73, 213, 255),
        0 0 151px rgb(73, 213, 255);
}